@font-face {
  font-family: "StratosSkyeng";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("stratosskyengweb-regular.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #004980;
  font-family: "StratosSkyeng";
}

.center {
  padding-left: calc(50% - 512px);
  padding-right:calc(50% - 512px) ;
}

.window {
  display: flex;
  flex-direction: column;
  margin-top: 156px;
  margin-left: 272px;
  width: 480px;
  height: 459px;
  background: #c2f5ff;
  border-radius: 12px;
}

.window__title {
  height: 96px;
  padding-top: 52px;
  width: 208px;
  padding-left: 136px;
  padding-bottom: 48px;

  font-family: "StratosSkyeng";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;

  text-align: center;
  font-feature-settings: "pnum"on, "lnum"on;

  color: #004980;
}

.window__level {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 26px;

  font-weight: 400;
  font-size: 64px;
  line-height: 72px;
  color: #0080c1;

  padding-bottom: 67px;
}

.window__level label {
  display: inline-block;
  padding: 10px 29px;
  cursor: pointer;
  border: 5px solid transparent;
  border-radius: 12px;
  background-color: white;
  box-sizing: border-box;
}

.window__level input[type="radio"] {
  display: none;
}

.window__level input[type="radio"]:checked+label {
  border: 5px solid #0080C1;
}

.window__level label:hover {
  border: 5px solid #7db7d4
}

.start__button {
  width: 246px;
  height: 50px;

  background: #7ac100;
  border-radius: 12px;
  border: none;

  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  font-feature-settings: "pnum"on, "lnum"on;
  color: #ffffff;
  cursor: pointer;
}

.start__button:hover {
  border: 3px solid #02922d;
}

.btn-two {
  margin-top: 30px;
  margin-right: 50px;
}
  
.header__second-page {
  display: flex;
  justify-content: space-between;
  margin-top: 52px;
  margin-bottom: 52px;
}

.cards {
  display: flex;
  gap: 15px;
  margin-bottom: 10px;

}

.card__back {
  background: #FFFFFF;
  border-radius: 4px;
  width: 95px;
  height: 133px;
  background-image: url(img/рубашка.svg);
  margin-bottom: 12px;
}

.timer {
  width: 155px;
  height: 91px;
}

.timer__number {
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;
  color: #FFFFFF;
}

.timer__text {
  font-weight: 300;
  color: #FFFFFF; 
  padding-left: 90px;
}